extends ./main.layout.pug

block content
  .welcome-page#welcome
    section.hero
      .container.hero__container
        header.header
          a.logo(href="#welcome") НО
          nav.nav.header__nav
            ul.nav__list
              - var navItems = [{name: "Обо мне", link: "#about" }, {name: "Навыки", link: "#skills"},{name: "Работы", link: "#works"}, {name: "Отзывы", link: "#reviews"}]
              each item in navItems
                li.nav__item
                  a.nav__link(href=`${item.link}`)= item.name
          .icons.header__icons
            ul.icons__list
              - var icons = [{name: "insta", link: "https://www.instagram.com/nikita.omelyuhin/"}, {name: "github", link: "https://github.com/nikitaomelyuhin"}, {name: "vk", link: "https://vk.com/id31986160"}, {name: "message", link: "mailto:nikita.omelyuhin@gmail.com"}]
              each item in icons
                li.icons__item
                  a.icons__link(href=`${item.link}`)
                    +icon(item.name, "icons__icon")
          .hamburger
            .hamburger__plank
          .hamburger-menu
            nav.nav.hamburger-menu__nav
              ul.nav__list.hamburger-menu__nav-list
                - var navItems = [{name: "Обо мне", link: "#about" }, {name: "Навыки", link: "#skills"},{name: "Работы", link: "#works"}, {name: "Отзывы", link: "#reviews"}]
                each item in navItems
                  li.nav__item.hamburger-menu__nav-item
                    a.nav__link(href=`${item.link}`)= item.name
            .icons.hamburger-menu__icons
              ul.icons__list.hamburger-menu__icons-list
                - var icons = ["insta", "github", "vk", "message"]
                each item in icons
                  li.icons__item
                    a.icons__link(href="#")
                      +icon(item, "icons__icon icons__icon--dark")
        .hero__content
          .hero__subtitle Личный сайт #[br] веб разработчика
          h1.hero__title Никита Омелюхин
        .scroll
          a.scroll__text(href="#about") Скролл
            .scroll__down
              +icon("arrow-down", "scroll__icon")
              +icon("arrow-down", "scroll__icon")
    section.about#about
      .container.about__container
        .about__user
          .user
            .user__avatar
              .user__avatar-style
                +image("content/avatar.jpg", "user__avatar-img")
            .user__data
              table.user__table
                - var userInfo = [["Проживаю:", "Киров"], ["Возраст:", "26 лет"], ["Родился:", "28 июня 1994"] ]
                each item in userInfo
                  tr.user__table-row
                    td.user__table-title #{item[0]}
                    td #{item[1]}
        .about__text
          .about__text-sub Привет, меня зовут
          h2.about__text-name Омелюхин Никита
          .about__text-desc
            p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
          .about__text-additional
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
  section.benefits#skills
    .container.benefits__container
      .benefits__title-block
        h2.benefits__title Чем я могу быть полезен вам
        .benefits__title-desc
          p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .benefits__skills
        .benefits__image
          +image("content/benefitsKeyboard.png", "benefits__pic")
        .benefits__wrapper
          .skills
            #skills-component
  section.works#works
    .container
      h2.section-title.works__title Мои работы
      .works__content
        #works-component
  section.reviews-section#reviews 
    .container
      #reviews-component
  footer.footer
    .container.footer__container
      .footer__copyright-block
        .footer__copyright &copy; 2021
        .footer__copyright-userdata
          .footer__copyright-name Никита Омелюхин
          .footer__copyright-text Личный сайт веб-разработчика
      .footer__data
        .footer__menu
          nav.nav
            ul.nav__list
              each item in navItems
                li.nav__item.nav__item--footer
                  a.nav__link(href=`${item.link}`)= item.name
        .footer__data-content
          .footer__data-wrapper
            .footer__data-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
            .footer__data-socials
              .footer-icons
                ul.footer-icons__list
                  - var icons = [{name: "insta", link: "https://www.instagram.com/nikita.omelyuhin/"}, {name: "github", link: "https://github.com/nikitaomelyuhin"}, {name: "vk", link: "https://vk.com/id31986160"}, {name: "message", link: "mailto:nikita.omelyuhin@gmail.com"}]
                  each item in icons
                    li.footer-icons__item
                      a.footer-icons__link(href=`${item.link}`)
                        +icon(item.name, "footer-icons__icon")
          .footer__quote
            .text-quote
              .text-quote__content Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
              .text-quote__author Martin Golding

